body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

canvas {
    display: block;
    background-color: #ddd;
    border: 4px solid #333;
    border-radius: 10px;
    margin-right: 15%;
}

#controls {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
}

.blocks, .programming-area {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.block {
    width: 100px;
    padding: 10px;
    background-color: #d9edf7;
    border: 2px solid #31708f;
    border-radius: 5px;
    cursor: grab;
    text-align: center;
}

.block.dragging {
    opacity: 0.5;
}

.programming-area {
    border: 2px dashed #333;
    min-height: 100px;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.actions {
    text-align: center;
    margin-top: 15px;
}

.actions button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.actions button:hover {
    background-color: #ddd;
}

.run {
    background-color: #4caf50;
    color: white;
}

.reset {
    background-color: #f44336;
    color: white;
}

/* Contêiner para centralizar o botão e o canvas */
.canvas-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    width: 100vw;
}

/* Estilos para o botão de reset */
.reset-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 24px;
    color: white;
    position: relative; /* Necessário para o posicionamento do pseudo-elemento */
    transition: transform 0.2s;
}

.reset-button:hover {
    transform: scale(1.1);
}

.reset-button:active {
    transform: scale(0.9);
}

/* Animação de rotação */
.rotating svg {
    animation: spin 1s linear infinite;
}

/* Animação de rotação */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
 
}
/* Estilos para o canvas */
#gameCanvas {
    border: 1px solid #000;
}

.Contbutton{
    display: flex;
    width: 9%;
    justify-content: center;
    margin-left: 6%;
    padding-bottom: 9%;
}